<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Olx Scrapper!</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
